<footer class="site-footer">
  <section class="copyright"> <link rel="me" href="https://mamot.fr/@fxdm"/> <a href="/pages/contact">&copy; {{ now.Format "2006" }} {{ .Site.Title }} </a> </section>
  </footer>
<!-- custom js --> 
{{ range .Site.Params.customJS }}
  <script src="{{
  "/js/" | relURL }}{{ . }}"></script>
{{ end }}
