<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="{{ .Site.Params.Author }}" >
	<meta name="description" content="{{ .Description | default .Site.Params.Description }}">
    <meta name="keywords" content="{{ .Site.Params.Keywords }}" >	
    <meta name="robots" content="{{ .Site.Params.Robots }}" >	
	
    <!-- Page Meta -->
    <title>
      {{ block "title" . }}
      {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}
      {{ end }}
		</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
    {{ end -}}

    <!-- Favicon -->    
	<link rel="icon" href="/img/favicon.ico"/>
	<!-- Styles and Fonts -->
    <link rel="stylesheet" type="text/css" href="{{ "assets/css/normalize.css" | relURL }}" />
    <!--<link rel="stylesheet" type="text/css" href="{{ "assets/css/icons.css" | relURL }}" />-->
    <link rel="stylesheet" type="text/css" href="{{ "assets/css/screen.css" | relURL }}" />
    <!-- {{ if .Site.Params.replaceGoogleFonts }}
    <link href="https://{{ .Site.Params.replaceGoogleFonts }}/css?family=Bree+Serif|Lato:100,100i,300,300i,400,400i,700,700i|Source+Code+Pro:300,400,500,700" rel="stylesheet">
    {{ else }}
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Lato:100,100i,300,300i,400,400i,700,700i|Source+Code+Pro:300,400,500,700" rel="stylesheet">
    {{ end }}-->

    <!-- custom css -->
    {{ range .Site.Params.customCSS }}
    <link rel="stylesheet" href="{{ "/css/" | relURL }}{{ . }}">
    {{ end }}
</head>
