<!DOCTYPE html>
<html lang="{{ .Site.Params.Language.Lang }}">
    {{ partial "head.html" . }}
    <body class="{{ block "body_class" . }}{{end}}">
        {{ partial "header.html" . }}
        {{ block "main" . }}{{ end }}
        {{ partial "footer.html" . }}
    </body>
</html>
